@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeue Regular.eot");
  src: local("☺"), url("../fonts/BebasNeue Regular.woff") format("woff"), url("../fonts/BebasNeue Regular.ttf") format("truetype"), url("../fonts/BebasNeue Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 892px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 750px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

header {
  padding: 29px 0 33px 0;
  background-color: #fff; }
  @media (max-width: 750px) {
    header {
      padding: 5px 0 5px 0; } }

.header-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 750px) {
    .header-top {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.header-top-lang {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  @media (max-width: 750px) {
    .header-top-lang {
      margin: 0 0 15px 0; } }

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 10px 0 0; }
  .header-top-lang__item.active {
    background-color: #000;
    color: #fff; }

.header-top-lang__link {
  font-size: 15px;
  font-family: Bebas;
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
  position: relative;
  z-index: 11; }

.header-bottom {
  margin: -10px 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 750px) {
    .header-bottom {
      margin: -12px 0 0 0; } }

.header-bottom__colomn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.header-bottom-menu--right .header-bottom-menu-list {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right; }
  .header-bottom-menu--right .header-bottom-menu-list li {
    margin: 0 0 0 45px !important; }
    .header-bottom-menu--right .header-bottom-menu-list li:first-child {
      margin: 0; }
    @media (max-width: 892px) {
      .header-bottom-menu--right .header-bottom-menu-list li {
        margin: 0 0 0 20px !important; } }
  @media (max-width: 892px) {
    .header-bottom-menu--right .header-bottom-menu-list {
      display: block;
      text-align: left; }
      .header-bottom-menu--right .header-bottom-menu-list li {
        margin: 0 0 15px 0 !important; }
        .header-bottom-menu--right .header-bottom-menu-list li:last-child {
          margin: 0; } }

.header-bottom-menu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .header-bottom-menu-list li {
    margin: 0 45px 0 0; }
    .header-bottom-menu-list li:last-child {
      margin: 0 0 0 0; }
    @media (max-width: 892px) {
      .header-bottom-menu-list li {
        margin: 0 20px 0 0; } }
  @media (max-width: 750px) {
    .header-bottom-menu-list {
      display: block; }
      .header-bottom-menu-list li {
        margin: 0 0 15px 0 !important; }
        .header-bottom-menu-list li:last-child {
          margin: 0; } }

.header-bottom-menu__link {
  font-family: Bebas;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.header-logo {
  display: block;
  text-align: center;
  position: relative;
  z-index: 11; }

.header-logo__text {
  display: block;
  color: #000;
  font-family: Bebas;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px; }
  @media (max-width: 750px) {
    .header-logo__text {
      font-size: 8px; } }

.header-logo__img {
  display: inline-block;
  margin: 13px 0 22px 0; }
  @media (max-width: 750px) {
    .header-logo__img {
      margin: 2px 0 5px 0; }
      .header-logo__img img {
        width: 40px; } }

.header-menu__icon {
  display: none; }

@media (max-width: 750px) {
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    left: 10px;
    width: 30px;
    cursor: pointer;
    z-index: 5; }
    .header-menu__icon span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000; }
      .header-menu__icon span:first-child {
        top: 0px; }
      .header-menu__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header-menu__icon.active span:first-child {
      top: 8px; }
    .header-menu__icon.active span:last-child {
      bottom: 8px; }
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 65px 10px 0 10px;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s; }
    .header-menu.active {
      left: 0; } }

.private {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  background-color: #000; }

.private__column {
  float: 0 0 50%; }

.private__img {
  height: 100%; }

.private-body {
  padding: 75px 0 75px 60px; }

.private-body__tittle {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bebas';
  letter-spacing: 5px;
  margin: 0 0 30px 0; }

.private-body__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin: 0 0 5px 0; }

.private-body-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.private-body-buttons__link {
  font-family: Bebas;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
  margin: 0 0 0 15px;
  letter-spacing: 1.5px; }

.btn {
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: 'Bebas';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff; }
  .btn--w {
    background-color: #fff;
    color: #000; }
  .btn.fw {
    width: 100%; }

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }
